<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>STAFFS</title>
    <style>
        .even{
            background-color: lightgrey;
        }
    </style>
</head>
<body>
<div th:replase="helper/main-menu.html"></div>
<table border ="1" width="100%" cellpadding="10" cellspacing="10" style = "...">
    <tr>
        <th>№</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>DATE ADD</th>
        <th>DEPARTMENT</th>
    </tr>
    <tr th:each = "staff, iter : ${staffs}" th:class = "${iter.even ? 'even': 'odd}">
        <td width="50" align="center" nowrap="nowrap" th:utext="${iter.index+1}+ '.'">...</td>
        <td width="20%" th:utext="${staff.firstName}">...</td>
        <td width="20%" th:utext="${staff.lastName}">...</td>
        <td width="20%" th:utext="${staff.dateAddStaff}">...</td>
        <td width="20%" th:utext="${staff.department.departmentName}">...</td>
        <td width = "50" nowrap="nowrap" align="center">
            <a th:href = "@{'/staff-edit?id = ' + ${staff.id}}">EDIT</a>
        </td>
        <td width = "50" nowrap="nowrap" align="center">
            <a th:href = "@{'/staff-remove?id = ' + ${staff.id}}">REMOVE</a>
        </td>
    </tr>
</table>
<br/>
<form method="get" action="/staff-create">
    <button style="..." type="submit">CREATE</button>
</form>
</body>
</html>